# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# Node
node_modules/
dist/
build/
npm-debug.log*

# Env / secrets
.env
.env.*
!.env.example

# Docker
*.log

# Editor / OS
.vscode/
.idea/
.DS_Store

# Terraform
*.tfstate
*.tfstate.backup
.terraform/